$light: #f8f8f8;
$dark: #2c3e50;
$white: #ffffff;
$gray: #6c757d;
$light-gray: #dee2e6;
$accent: #fed136;
$error: #fe829e;
$hover-error: #fe4f77;

$radius: 2em;
$border: 1px solid rgba(0, 0, 0, .125);
$focus-border: 1px solid rgba(0, 0, 0, .5);
